<div class="post job on-list">
  <h2 class="post-title job-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    <div class="tools">
      {{ range .Params.tools }}
      <img src="/tools/{{.}}.png" alt="{{.}}">
      {{end}}
    </div>
  </h2>
  <div class="post-meta">
    <div class="date">
      {{ with .Params.startDate }}
      📅 From <span class="post-date"> {{ (time .).Format "January 2006" }}
      </span>
      {{ end }}
      {{ with .Params.endDate }}
      to <span class="post-date"> {{ (time .).Format "January 2006" }}
      </span>
      {{ end }}
    </div>
    <div class="employer">
      {{ if .Params.employer }}
      💼 <a href="{{.Params.employer.link}}">{{.Params.employer.name}}</a>
      {{ if .Params.client }}
      for <a href="{{.Params.client.link}}">{{.Params.client.name}}</a>
      {{ end }}
      {{ end }}
    </div>
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf " tags/%s/" . )) | absLangURL }}">
      {{- . -}}
    </a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  {{ if .Params.showFullContent }}
  <div class="post-content">
    {{ .Content | markdownify }}
  </div>
  {{ else if .Description }}
  <div class="post-content">
    {{ .Description | markdownify }}
  </div>
  {{ else if .Truncated }}
  <div class="post-content">
    {{ .Summary | markdownify }}
  </div>
  {{ end }}


  {{ if not .Params.showFullContent }}
  <div>
    <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
  </div>
  {{ end }}
</div>
